#open {
    background-color: black; 
}

#title {
    text-align: center;
    position: absolute;
    left: 25%;
    top: 18%;   
}

#rainbow {
    position: absolute; 
    left: 18%;
    top: 49%; 
}

#sub {
    position: absolute;
    left: 33%;
    top: 60%; 
}

#drop {
    position: absolute; 
    left: 63%;
    top: 16%; 
}

#question {
    color: white; 
    position: absolute; 
    top: 69%; 
    left: 45%;
    font-family: 'Source Code Pro', monospace;
}
#play {
    background-color: black; 
    outline: 0 none; 
    border: 0 none; 
    border-color: black; 
    box-shadow: black; 
    color: white;
    position: absolute; 
    top: 76%; 
    left: 45%; 
    font-family: 'Source Code Pro', monospace;
}

#no {
    color: white; 
    position: absolute;
    top: 78%;
    left: 45%;
    font-family: 'Source Code Pro', monospace;
    
}